{% comment %}https://docs.trmnl.com/go/private-plugins/templates{% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://trmnl.com/css/2.3.7/plugins.css">
    <script src="https://trmnl.com/js/2.3.7/plugins.js"></script>
</head>
<body class="environment trmnl">
<div class="screen">
    <div class="view view--full">
        <div class="layout">
            <div class="columns">
                <div class="column">
                    <div class="markdown">
                        <span class="title">Motivational Quote</span>
                        <div class="content content--center">“I love inside jokes. I hope to be a part of one someday.”</div>
                        <span class="label label--underline">Michael Scott</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="title_bar">
            <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg" />
            <span class="title">Plugin Title</span>
            <span class="instance">Instance Title</span>
        </div>
    </div>
</div>
</body>
</html>